*{
    margin: 0;
    padding: 0;
    
}


/* Titles*/

h4{
    padding: 30px;
    border: 3px solid;
    text-align: center;
}

/* Buttons */
.ajouter{
    border-radius: 6px;
    color: black;
    background-color: rgb(66, 188, 66);
    padding: 3px 25px;


}

.ajouter:hover{
    color: whitesmoke;
}

.delete{
    border-radius: 6px;
    color: white;
    background-color: rgb(118, 14, 14);
    padding: 3px 25px;
}

#ajouter-lateral{
    border-radius: 6px;
    color: black;
    background-color: rgb(66, 188, 66);
    padding: 10px 5px; 
    margin-left: 4rem;

}

#ajouter-lateral:hover{
    color: whitesmoke;
}

/* ALL Body */

.all-content{
    background: rgb(203, 135, 135);
    display: flex;
  
}


/* lateral list */
.lateral{
    background-color:#dfad67a4 ;
    width: 20%;
    display: flex;
    justify-content: center;
    border: 1px solid;
}
.lateral div{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#empty-lateral{
    height: 50vh;
}

.image-container{
    position: relative;
    width: 100%;
    max-width: 65rem;
    /* height: 35rem; */
}

.image-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

 .zones {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px  ;
    grid-gap: 20px ;

    grid-template-areas:
        "conference conference serveurs securite"
        "reception   zone3    serveurs securite"
        "reception   zone3    personnel archive";

} 


.conference { grid-area: conference; }
.reception { grid-area: reception; }
.zone3    {grid-area: zone3 ;}
.serveurs { grid-area: serveurs; }
.securite { grid-area: securite; }
.personnel { grid-area: personnel; }
.archive { grid-area: archive; }

.zones p{
    font-size: 25px;
}



/* Paysage  */

/* Mobile */
@media (min-width: 768px) and (max-width: 1023px){
.image-container{
    width: 100vw;
    height: auto;
}
  
}

/* Tablette */
@media (min-width:1024) and (max-width: 1279px) {
 .image-container{   
    width: 90vh;
    height: auto;
 }
}


/* Buttons */
#ajouter-lateral{
    padding: 3px 25px;
    display: flex;
    justify-content: end;
    margin-left: 1rem;

}