*{
    margin: 0;
    padding: 0;
    
}


/* ========Titles========*/
h3{
   text-decoration: underline;
}

h4{
    padding: 30px;
    border: 3px solid;
    border-radius: 6px;
    text-align: center;
}

/* ======Paragraphs====== */
p{
    font-size: 20px;
}

/* ======Listes====== */
li{
    list-style: none;
}

/* ========Buttons ========*/
button{
    cursor: pointer;
}

.ajouter-workr{
    border-radius: 6px;
    color: black;
    background-color: rgb(66, 188, 66);
    padding: 3px 25px;
    transition: 0.2s;
    /* margin-left: 2rem; */
    position: relative;
    left: 40%;


}

.ajouter-workr:hover{
    color: whitesmoke;
}



#ajouter-lateral{
    border-radius: 6px;
    color: black;
    background-color: rgb(66, 188, 66);
    padding: 10px 5px; 
    margin-top: 4rem;
    width: 100%;


}

#ajouter-lateral:hover{
    color: whitesmoke;
}

#sortir{
     padding: 5px 10px;
    color: whitesmoke;
    background-color: red;
    border-radius: 5px;
}

.List-sortir{
    padding: 5px 10px;
    color: whitesmoke;
    background-color: red;
    border-radius: 5px;
}

.Details-sortir{
    padding: 5px 10px;
    color: whitesmoke;
    background-color: red;
    border-radius: 5px;
}

.ajouter-exp{
    border-radius: 6px;
    color: black;
    background-color: rgb(221, 131, 28);
    padding: 2px 5px; 
    /* margin-left: 18rem; */
    
}

#submit{
    border-radius: 6px;
    color: black;
    background-color: rgb(66, 188, 66);
    padding: 5px 10px; 
    margin-left: 35%;
    margin-top: 1rem;


  
}
.details-btn{
    background-color: orange;
    padding: 1px 2px ;
    height: 1.5rem;
    position: relative;
    left:50%;
}

.delete{
    border-radius: 6px;
    color: white;
    background-color: rgb(118, 14, 14);
    padding: 3px 5px;
}

/* ========ALL Body======= */

.all-content{
    background: rgb(203, 135, 135);
    display: flex;
    height: 100vh;
  
}


/* ==========lateral list ============*/
.lateral{
    background-color:#dfad67a4 ;
    width: 22%;
    border: 1px solid #444;
    padding: 20px;
}

#empty-lateral{
    height: 50vh;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    overflow: auto;
}

.lateral-li {
    border: 2px solid #000;
    padding: 5px 10px;
    width: 3fr;
    border-radius: 6px;
    display: flex;
    margin-bottom: 1rem;
}

/* ======Image background====== */
.image-container{
    position: relative;
    width: 100%;
    overflow: hidden;

}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* =======Grid Zones======= */
 .zones {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns:1.8fr 0.8fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px ;

   grid-template-areas:
        "conference zone3 serveurs securite"
        "reception zone3 zone4 zone4"
        "reception zone3 personnel archive";

} 




.zone-ul .details-btn, .zone-ul .delete {
    font-size: 10px;
    padding: 2px 5px;
    left: auto; 
    margin-top: 3px;
}

.conference { grid-area: conference; }
.reception { grid-area: reception;}
.zone3    {grid-area: zone3 ;}
.zone4    {grid-area: zone4 ;}
.serveurs { grid-area: serveurs; }
.securite { grid-area: securite;}
.personnel { grid-area: personnel; }
.archive { grid-area: archive; }



.container-conference,.container-securite,.container-serveurs {
    
    max-height: 180px; 
    overflow-y: auto; 
    padding-right: 2px;
}


.zones p{
    font-size: 18px;
    text-align: center;
    font-weight: bold;

    position: relative;
    top: 5px;
    left: 50%;
    transform:translateX(-50%) ;
    z-index: 5;
    padding: 3px 8px;

   
}


.zone-ul {
    border: 1px solid #999;
    margin: 2px 0;
    padding: 5px; 
    border-radius: 4px;
    background-color: white;
    width: 90%; 
    font-size: 0.75rem; 
    line-height: 1.2;
    position: relative;
}

.zone-li {
    list-style: none;
    margin-bottom: 2px;
    overflow: hidden; 
    
}
/* Modal */
 
.is-hidden {
    display: none;
}

.modal-header{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}



.content {
    position: absolute;
    z-index: 10 ;
    height: 460px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 18px;
    background-color: rgb(243, 243, 243);
    padding: 10px 20px;
    overflow: auto;
}
.overlay {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.893);
}


/* ======Form======= */
.group{
    line-height: 30px;
    background-color: rgb(165, 160, 160);

}

.group label{
    margin-left:20px ;
}

.groupe{
    line-height: 30px;
    background-color: rgb(165, 160, 160);
}

.groupe label{
    margin-left:20px ;
}


 #image-formr img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 10px;
}


/* Paysage  */

/* Mobile */
/* @media (max-width: 768px) {
.image-container img{
    width: 100vw;
    height: auto;
    transform:rotate(90deg);
}
  
} */

/* Tablette */
/* @media (min-width:1024px) and (max-width: 1279px) {
 .image-container{   
    width: 90vh;
    height: auto;
 }
} */


/* Buttons */
/* #ajouter-lateral{
    padding: 3px 25px;
    display: flex;
    justify-content: end;
    margin-left: 1rem;

} */