*{
    margin: 0;
    padding: 0;
    overflow: none;
    
}


/* ========Titles========*/
h3{
   text-decoration: underline;
}

h4{
    padding: 30px;
    border: 3px solid;
    text-align: center;
}

/* ========Buttons ========*/
button{
    cursor: pointer;
}

.ajouter{
    border-radius: 6px;
    color: black;
    background-color: rgb(66, 188, 66);
    padding: 3px 25px;
    transition: 0.2s;


}

.ajouter:hover{
    color: whitesmoke;
}

.delete{
    border-radius: 6px;
    color: white;
    background-color: rgb(118, 14, 14);
    padding: 3px 25px;
}

#ajouter-lateral{
    border-radius: 6px;
    color: black;
    background-color: rgb(66, 188, 66);
    padding: 10px 5px; 
    margin-top: 1rem;
    width: 100%;

}

#ajouter-lateral:hover{
    color: whitesmoke;
}

#sortir{
    padding: 5px 10px;
    color: whitesmoke;
    background-color: red;
    border-radius: 5px;
}

.ajouter-exp{
    border-radius: 6px;
    color: black;
    background-color: rgb(221, 131, 28);
    padding: 2px 5px; 
    margin-left: 18rem;
    
}

#submit{
    border-radius: 6px;
    color: black;
    background-color: rgb(66, 188, 66);
    padding: 5px 10px; 
    margin-left: 35%;


  
}

/* ========ALL Body======= */

.all-content{
    background: rgb(203, 135, 135);
    display: flex;
    height: 100vh;
  
}


/* ==========lateral list ============*/
.lateral{
    background-color:#dfad67a4 ;
    width: 22%;
    /* display: flex;
    justify-content: center; */
    border: 1px solid #444;
    padding: 20px;
}

#empty-lateral{
    height: 50vh;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* ======Image background====== */
.image-container{
    position: relative;
    width: 100%;
    overflow: hidden;

}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* =======Grid Zones======= */
 .zones {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns:1.8fr 0.8fr 1.2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px ;

   grid-template-areas:
        "conference zone3 serveurs securite"
        "reception zone3 zone4 zone4"
        "reception zone3 personnel archive";

} 


.conference { grid-area: conference; }
.reception { grid-area: reception;}
.zone3    {grid-area: zone3 ;}
.zone4    {grid-area: zone4 ;}
.serveurs { grid-area: serveurs; }
.securite { grid-area: securite;}
.personnel { grid-area: personnel; }
.archive { grid-area: archive; }

.zones p{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 50%;
}

.zones button{
    position: relative;
    top: 50%;
    left: 40%;
}

/* Modal */
 
.is-hidden {
    display: none;
}

.modal-header{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

p{
    font-size: 20px;
}

li{
    list-style: none;
}

.content {
    position: absolute;
    z-index: 10 ;
    height: 460px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 18px;
    background-color: rgb(243, 243, 243);
    padding: 10px 20px;
}
.overlay {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.893);
}


/* ======Form======= */
.group{
    line-height: 30px;
    background-color: rgb(165, 160, 160);

}

.group label{
    margin-left:20px ;
}

.groupe{
    line-height: 30px;
    background-color: rgb(165, 160, 160);
}

.groupe label{
    margin-left:20px ;
}


 #image-formr img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 10px;
}


/* Paysage  */

/* Mobile */
@media (max-width: 768px) {
.image-container img{
    /* width: 100vw;
    height: auto; */
    transform:rotate(90deg);
}
  
}

/* Tablette */
/* @media (min-width:1024px) and (max-width: 1279px) {
 .image-container{   
    width: 90vh;
    height: auto;
 }
} */


/* Buttons */
/* #ajouter-lateral{
    padding: 3px 25px;
    display: flex;
    justify-content: end;
    margin-left: 1rem;

} */